.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 50px;
  top: 24px;
  letter-spacing: 0em;
}
ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

ul li h4 {
  font-size: 18px;
  font-weight: bold;
}

ul li p {
  font-size: 14px;
  line-height: 1.5;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
}
.menu {
  font-family: "Roboto", sans-serif;
}
.nav-links a,
.nav-links a:hover,
.nav-links a:focus {
  text-decoration: none;
}
.menu li:hover {
  color: #2196f3;
}

.menu li:hover a {
  color: rgb(0, 136, 255);
}
.menu a,
.menu a:hover,
.menu a:focus {
  color: #080808;
  text-decoration: none;
}

.studio-link:hover {
  color: rgb(0, 98, 255);
  text-decoration: none;
}

.studio-link:hover {
  color: black;
}
.menu {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  margin-right: 10px;
}

.menu li:last-child {
  margin-right: 0;
}
.contact-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.contact-list li {
  margin-right: 10px;
}

.contact-list li:last-child {
  margin-right: 0;
}
.contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adaugă spațiu între elementele de contact */
}

.contact-list li a {
  color: gray;
  text-decoration: none;
  display: flex;
  flex-direction: column; /* Afișează textul pe mai multe rânduri */
}

.contact-list li a svg {
  width: 16px;
  height: 13px;
  fill: #757575;
  margin-bottom: 5px;
  transition: fill 0.2s; /* Tranzitie de culoare */
}

/*hover/focus */
.contact-list li a:hover svg,
.contact-list li a:focus svg {
  fill: #2196f3;
}

/* info@devstudio.com */
.contact-list li:first-child {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 900px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* +1 212-772-4150 */
.contact-list li:last-child {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1050px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

a[rel="webstudio"]::before {
  content: "web";
  color: blue;
}

a[rel="webstudio"]::after {
  content: "studio";
  color: black;
}

ul {
  list-style-type: none;
}
.nav-links a {
  font-weight: 500;
  font-size: 14;
  line-height: 1.88;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header-adress a {
  font-weight: 500;
  font-size: 14;
  line-height: 1.88;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.nav-links a:hover,
.nav-links a:focus,
.header-adress a:hover,
.header-adress a:focus {
  color: #080808;
}
.webstudio {
  position: relative;
  z-index: 2;
}
.webstudio li a:hover {
  color: rgb(0, 136, 255);
  text-decoration: none;
}
.contact-list li a {
  color: gray;
  text-decoration: none;
}
.contact-list {
  position: relative;
  z-index: 2;
}
.contact-list li a:hover {
  color: rgba(33, 150, 243, 1);
}

/*section1*/
#mySection .container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: transparent;
  top: 1200px;
}
#mySection {
  margin-top: 1000px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  top: 1500px;
}

/*section2*/
#myImages.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  background-color: transparent;
}

#whatWeDo .container {
  max-width: 1200px;
  margin: 0 auto;
}
#myImages {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#myDesigners.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*cele 4 paragrafe mutate prin margin*/
.feature-list {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  margin: 700px 0;
  gap: 30px;
}

.feature-list li {
  flex: 1;
}
.feature-list li p {
  margin-bottom: 10px;
}
.feature-list svg {
  margin-top: 10px;
}

.images-list {
  display: flex;
  flex-direction: row;
  margin: 2500px 0;
}

.images-list li {
  flex: 1;
}
.images-list {
  position: relative;
}

.images-list h2 {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 50px 0 0;
  padding: 0;
}

#myImages h2,
#myDesigners h2 {
  display: flex;
  justify-content: center;
  margin-top: -500px;
}

.images-list li {
  display: inline-block;
  margin: 10px;
}
.designers-list {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*foto designers*/
.designers-list li {
  flex: 0 0 200px;
  text-align: center;
  margin: 20px;
}

.designers-list h2 {
  position: absolute;
  top: 1100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 50px 0 0;
  padding: 0;
}
.designers-list img {
  width: 200px;
  height: 200px;
  top: 10px;
}
.designers-list h4,
.designers-list p {
  margin-top: 10px;
  top: 1000px;
}

#mySection {
  margin-bottom: 100px;
}

#myImages {
  margin-bottom: 100px;
}

.filter-buttons button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
  color: #212121;
  background-color: rgb(225, 225, 225);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
  z-index: 2;
}

.filter-buttons button:hover,
.filter-buttons button:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 136, 255);
}
#portofoliolist li[data-category] {
  color: gray;
}
#portofoliolist li[data-category] p {
  color: initial;
}
.box-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 1600px;
  height: 600px;
  margin: 0;
  left: 0px;
  top: 100px;
  background-color: #2f303a;
  background: var(--color-background);
  background-image: url("/images/background.jpg");
}
/*what we do*/
section ul {
  display: flex;
  flex-direction: column;
  top: 800px;
}

section ul li {
  margin-bottom: 20px;
}

section h4 {
  margin-top: 50px;
  z-index: 2;
}

section ul li img {
  position: relative;
  margin-bottom: 10px;
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
}
section {
  margin-top: 200px;
  display: block;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

section button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  background-color: #2196f3;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portofoliolist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#portofoliolist li {
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
  top: 1500px;
}

.web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

section.box-bottom {
  display: flex;
  width: 1400px;
  height: 300px;
  margin: 0;
  left: 0px;
  top: 40px;
  background-color: #2f303a;
}

.efective-adress {
  font-weight: 400;
  font-size: 14;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
address {
  text-align: left;
}

.box-bottom {
  display: flex;
  justify-content: left;
}

footer .contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .contact-list li {
  margin-bottom: 10px;
}
